@model IEnumerable<DataAccess.State>
@if (Model != null)
{ 
    <option value="0">Select State</option>
    foreach (var item in Model)
    {
        <option value="@item.StateId">@item.StateName</option>
    }
}
