@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@Html.Partial("~/Views/Shared/_breadcrumb.cshtml", "Product")
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body responsive">
                <div>
                    <a href="/Product/Upsert" class="btn btn-success mb-3 float-right">Create New product</a>
                </div>
                <table class="table table-bordered" id="tblProducts">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Product/product.js"></script>



