@{
    ViewBag.Title = "MemberV2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/jquery.dataTables.min.css" rel="stylesheet" />
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>MemberV2</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="breadcrumb-item active">MemberV2</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body responsive">
                <table class="table table-bordered" id="tblMembers">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>UserName</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var ConfirmDelete = function (userid, username) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert " + username + "!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/MemberV2/Delete",
                    data: {
                        id: userid,
                    },
                    success: function () {
                        Swal.fire(
                            'Deleted!',
                            'Your record has been deleted.',
                            'success'
                        )
                        DataTable.ajax.reload();
                    }
                })
            }
        })
    }
    $(document).ready(function () {
        DataTable = $('#tblMembers').DataTable(
            {
                "ajax":
                {
                    "url": "/MemberV2/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FullName" },
                    { "data": "UserName" },
                    { "data": "CountryName" },
                    { "data": "StateName" },
                    { "data": "CityName" },
                    {
                        mRender: function (data, type, row) {
                            var id = row['UserId'];
                            var name = row['UserName'];
                            return `<div class="row">
                                    <div class="col-md-6">
                                        <a href="/Registration/Registration/${id}" class="btn btn-block btn-outline-primary d-grid">Edit</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-block btn-outline-danger" onclick='ConfirmDelete(${id},"${name}")'>Delete</a>
                                    </div>
                                </div>`
                        }
                    },
                ]
            }
        );
    });
</script>
